<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cors Example</title>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src='/static/cancerData/data.json'></script>
        <script src="/static/javascript/corsExample.js"></script>
    </head>
    <body>
        Cors Example
        <div id='cancerPlot'></div>
    </body>
</html>